<div id="contenedor">
    <div>
      <mat-card class="card-titulo">
        <mat-card-header>
          <mat-card-title>Subir Examen</mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Subir archivo</mat-card-title>
          <mat-card-subtitle
            >La idea es subir un documento con formato aiken y que automaticamente
            te de un formulario para contestar
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="open()">
              <mat-icon aria-hidden="true" fontIcon="outbox" >
              </mat-icon>
              Subir Archivo
            </button>
        </mat-card-actions>
        
      </mat-card>
    </div>