<div id="contenedor">
    <div>
      <mat-card class="card-titulo">
        <mat-card-header>
          <mat-card-title>Subir Examen</mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Subir archivo</mat-card-title>
          <mat-card-subtitle
            >La idea es subir un documento con formato aiken y que automaticamente te
            de un formulario para contestar 
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <input type="file" (change)="AbrirArchivo($event)" />
        </mat-card-actions>
      </mat-card>
      
    </div>

    
    <div>
      <mat-card class="card-content-exam" *ngFor="let item of Oraciones; let i=index">
        <mat-card-header class="pregunta">
          <mat-card-title>Seleciona una respuesta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{item.getOracion[i]}} 
          
          <span class="txt">
            <font color="red">
              {{txt}}

            </font>
          </span>
          
          {{item.getOracion[ i+1 ]}}


        </mat-card-content>
        <mat-card-actions class="button">
          <button (click)="seleccionado( res )"  mat-raised-button color="basic" *ngFor="let res of item.getRespuestas; let i=index"> {{res}} </button>
        </mat-card-actions>
      </mat-card>
      
  </div>
</div>