<div id="contenedor">
  <div>
    <mat-card class="card-titulo">
      <mat-card-header>
        <mat-card-title>Subir Examen</mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Subir archivo</mat-card-title>
        <mat-card-subtitle
          >La idea es subir un documento con formato aiken y que automaticamente
          te de un formulario para contestar
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <input type="file" (change)="AbrirArchivo($event)" />
      </mat-card-actions>
    </mat-card>
  </div>

  <div >
    <mat-card
      class="card-content-exam"
      *ngFor="let item of Oraciones; let i = index"
    >
      <div>
        <mat-card-content
          class="pregunta"
          *ngFor="let oracion of item.getOracion; let x = index"
        >
          <ng-container *ngIf="x < 1; else elseTemplate">
            {{ oracion }}
            <span *ngIf="txt === ''">__________________________</span>

            <span class="txt">
              {{txt }}
            </span>
          </ng-container>
          <ng-template #elseTemplate>
            {{ oracion }}
          </ng-template>
        </mat-card-content>

        <mat-card-actions class="button">
          <mat-chip-listbox>
            <mat-chip-option
              color="accent"
              (click)="seleccionado(res,i)"
              *ngFor="let res of item.getRespuestas; let i = index"
            >
              {{ res }}
            </mat-chip-option>
          </mat-chip-listbox>
          <!-- <button (click)="seleccionado( res )" value="res" mat-raised-button color="basic" *ngFor="let res of item.getRespuestas; let i=index"> {{res}} </button> -->
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>