<div id="contenedor">
  <div>
    <mat-card class="card-titulo">
      <mat-card-header>
        <mat-card-title>Subir Examen</mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Subir archivo</mat-card-title>
        <mat-card-subtitle
          >La idea es subir un documento con formato aiken y que automaticamente
          te de un formulario para contestar
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="open()">
            <mat-icon aria-hidden="true" fontIcon="outbox" >

            </mat-icon>
            Subir Archivo
          </button>

        <!-- <input type="file" (change)="AbrirArchivo($event)" /> -->
      </mat-card-actions>
    </mat-card>
  </div>

  <div >
    <mat-card 
    class="card-content-exam"
    *ngFor="let item of Oraciones; let i = index"
    [ngStyle]="{'background-color' : (item.evaluacion === '') ? ('white') : (item.evaluacion === 'true') ? ('#83E48A') : (item.evaluacion === 'false') ? ' #E6AEAE' : (item.evaluacion) }"

    >


    <div>
      <mat-card-title-group>
        <img mat-card-xl-image src="./src/assets/done.png">
        
      </mat-card-title-group>
        <mat-card-content
          class="pregunta"
          *ngFor="let oracion of item.getOracion; let x = index"
        >
          <ng-container *ngIf="x < 1; else elseTemplate">
            {{ oracion }}
            <span *ngIf="!item.seleccionada">__________________________</span>

            <span class="txt" *ngIf="item.seleccionada">
              {{item.seleccionada }}
            </span>
          </ng-container>
          <ng-template #elseTemplate>
            {{ oracion }}
          </ng-template>

        </mat-card-content>
        

        <mat-card-actions class="button"   >
          <mat-chip-listbox  [disabled]="deshabilitar">
            <mat-chip-option 
              color="primary"
              (selectionChange)="seleccionado(item,res,$event)"
              *ngFor="let res of item.getRespuestas; let i = index"
            >
              {{ res }}
            </mat-chip-option>
          </mat-chip-listbox>
          <!-- <button (click)="seleccionado( res )" value="res" mat-raised-button color="basic" *ngFor="let res of item.getRespuestas; let i=index"> {{res}} </button> -->
        </mat-card-actions>
      </div>
    </mat-card>
    <button class="bt1" mat-raised-button color="warn" *ngIf="contenido !== '' " type="submit" (click)="evaluar(Oraciones)">
      Revisar
    </button>
  </div>
</div>
