<mat-sidenav-container  fullscreen hasBackdrop="false">
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()" >
                <mat-icon>
                    start
                </mat-icon>
            </button>




        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./Proyecto1"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Comparacion de Fechas
                </span>
            </a>
            <a routerLink="./Proyecto2"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Formato Aiken
                </span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        
        <button mat-icon-button (click)="sidenav.toggle()" >
            <mat-icon>
                menu
            </mat-icon>
        
        </button>

        <button mat-icon-button routerLink="/404" >
            <mat-icon>
                home
            </mat-icon>
        </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>