<mat-sidenav-container  class="example-container" hasBackdrop="true" (backdropClick)="close('backdrop')" >
    <mat-sidenav #sidenav mode="push" (keydown.escape)="close('escape')" >

        <mat-toolbar>
            <span>Menu</span>
<!--             <button mat-icon-button (click)="sidenav.toggle()" >
                <mat-icon>
                    start
                </mat-icon>
            </button> -->




        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./Proyecto1"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Comparacion de Fechas
                </span>
            </a>
            <a routerLink="./Proyecto2"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Examen con formato aiken
                    (4 respuestas)
                </span>
            </a>
            <a routerLink="./Proyecto3" 
            mat-list-item
            (click)="sidenav.toggle()">
                <span>
                    Examen con formato aiken
                    (N) resuestas
                </span>
            </a>
            <a routerLink="./Proyecto4"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Completar oracion(Opcion multiple)
                </span>

            </a>
            <a routerLink="./Proyecto5"
                mat-list-item
                (click)="sidenav.toggle()">
                <span>
                    Completar oracion (seleccion multiple)
                </span>

            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        
        <button mat-icon-button (click)="sidenav.open()" >
            <mat-icon>
                menu
            </mat-icon>
        
        </button>

        <button mat-icon-button routerLink="/404" >
            <mat-icon>
                home
            </mat-icon>
        </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>